/* ************** FOOTER ******************* */

footer {
  position: relative;
  z-index: 5;
  text-align: center;
  // background: #151515;
  color: black;
  padding-bottom: 600px;

  .inner {
    width: 92%;
    margin: auto;
    text-align: center;
    font-size: 0px;
    line-height: 0px;
    padding: 45px 0px;
    overflow: hidden;
    a {
      text-decoration: none;
    }
    .animated_name {
      padding-top: 200px;
      width: 100%;
      margin: auto;
      position: relative;
      margin-bottom: 25px;

      img {
        position: absolute;
        left: 0;
        bottom: 0;
        clip-path: inset(0 77% 0 0);
        height: 120px;
      }
      svg {
        height: 120px;
        position: absolute;
        overflow: hidden;
        bottom: 0;

        path,
        rect {
          fill: currentColor;
        }

        &#joe {
          left: -435px;
        }
        &#pug {
          transform: scale(1.01);
          bottom: -0.5px;
          right: -35px;
        }
        &#liese {
          box-sizing: content-box;
          right: -295px;
          padding-left: 295px;
          opacity: 1;
        }
      }
    }
    .bottom {
      position: relative;
      width: 100%;
      border-top: 1px solid black;
      padding-top: 20px;
      display: flex;
      .col {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 8%;
      }
      p {
        text-align: left;
        font-size: 0.7rem;
        margin-bottom: 0;
        &.title {
          font-family: $font-sud;
          font-weight: 600;
        }
        &.credit {
          position: absolute;
          right: 20px;
        }
        &.mobile {
          display: none;
        }
      }
    }

    ul {
      list-style-type: none;
    }

    .social {
      li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;

        &:last-child {
          margin-right: 0px;
        }

        svg {
          width: 25px;
          height: auto;

          * {
            stroke: none;
            fill: #fff;
          }
        }
      }
    }
  }
}

@include phone-portrait {
  footer {
    .inner {
      .animated_name {
        padding-top: 0;
        img {
          height: 35px;
        }
        overflow: visible;
        svg {
          height: 35px;
          overflow: visible;
          &#joe {
            width: 400px !important;
            left: -44px;
          }
          &#pug {
            right: -130px;
            bottom: 0;
          }
          &#liese {
            bottom: 0;
            padding-left: 0px;
            right: -200px;
          }
        }
      }
      .bottom {
        .col {
          width: 33%;
          margin: 0;
        }
        p {
          font-size: 0.8rem;
          &.mobile {
            display: block;
          }
        }

        .credit {
          display: none;
        }
      }
    }
  }
}
