/* ************** HEADER ******************* */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  z-index: 104;
  pointer-events: none;

  .inner {
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;

    .logo {
      position: absolute;
      top: 35px;
      left: 4%;
      // width: 300px;
      // height: 300px;
      height: 50px;
      width: 150px;
      pointer-events: all;
      z-index: 104;

      img,
      svg {
        position: absolute;
        display: block;
        width: 100%;
        height: auto;
        overflow: visible;

        * {
          fill: #000;
        }
      }

      svg:first-child {
        display: none;
      }
    }

    .menuBtn {
      position: absolute;
      top: 37px;
      right: 50px;
      cursor: pointer;
      z-index: 3;
      display: none;
      pointer-events: all;

      div {
        width: 22px;
        height: 22px;
        position: relative;

        .line {
          height: 4px;
          width: 100%;
          display: block;
          position: absolute;
          right: 0;
          background-color: #000;
          opacity: 1;

          transform: rotate(0deg);

          transition-property: background-color, opacity, transform, top;
          transition-duration: 0.2s, 0.1s, 0.3s, 0.3s;
          transition-delay: 0s, 0s, 0s, 0s;

          &:nth-child(1) {
            top: 0px;
          }

          &:nth-child(2) {
            top: 10px;
          }

          &:nth-child(3) {
            top: 20px;
          }
        }
      }
    }
  }

  nav {
    position: absolute;
    z-index: 16;
    top: 40px;
    right: 35px;
    text-align: right;
    color: $color-accent1;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.3s;

    ul {
      pointer-events: all;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      margin-right: 30px;

      li {
        // margin-right: 15px;
        // position: relative;
        font-size: 0.8rem;
        font-family: $font-sud;
        font-weight: 600;
        letter-spacing: 3;
        padding-bottom: 5px;

        a {
          transition: color 0.3s;
          text-decoration: none;
          color: $color-darkgray;

          &:hover,
          &.pageOn {
            color: $color-foreground;
            text-decoration: underline;
            text-underline-offset: 2px;
          }
        }

        &:last-child {
          position: absolute;
          top: 0;
          right: 0;
          writing-mode: vertical-lr;
          //   text-orientation: upright;
        }
      }

      &.subs {
        pointer-events: none;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 30px;
        text-align: left;

        li {
          display: block;
        }
      }
    }

    &.takeover {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: unset;
      background-color: rgba(255, 255, 255, 0.9);
      opacity: 0;
      transition: opacity 0.5s;
      pointer-events: none;

      ul {
        width: 90%;
        text-align: center;
        @include absolute-vertical;
        flex-direction: column;

        li {
          margin: 0px auto;

          a {
            font-size: 5rem;
          }
        }
      }
    }
  }
}

@include phone-portrait {
  header {
    .inner {
      .logo {
        left: 5%;
        width: 175px;
        top: 25px;
      }
    }

    nav {
      top: 25px;
      right: 20px;

      ul {
        li {
          a:hover {
            text-decoration: none;
          }

          &:last-child {
            opacity: 1;
            transition: opacity 0.2s;
          }
        }
      }
    }
  }
}

/* MENU ON */

.lightboxOpen {
  header {
    .inner {
      .logo {
        pointer-events: none;
      }
    }

    nav {
      ul {
        opacity: 0;
        pointer-events: none;

        #contact {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }
}

.menuOn {
  header {
    .inner {
      .menuBtn .line {
        background-color: rgba(0, 0, 0, 1) !important;

        transition-property: background-color, opacity, transform, top;
        transition-duration: 0.2s, 0.1s, 0.3s, 0.3s;
        transition-delay: 0s, 0s, 0s, 0s;

        &:nth-child(1) {
          top: 8px;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
          transition: opacity 0.1s 0s;
        }

        &:nth-child(3) {
          top: 8px;
          transform: rotate(135deg);
        }
      }
    }

    nav.takeover {
      opacity: 1;
      pointer-events: all;
    }
  }
}

/* CONTACT MODULE */

.contact_cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  pointer-events: none;
  z-index: 100;
}

.contactOpen {
  header {
    nav {
      opacity: 0;
      pointer-events: none;

      ul {
        pointer-events: none;
      }
    }
  }

  .contact_cover {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.3s;
  }
}

@include phone-portrait {
  .contact_cover {
    display: none;
  }
}

.contact_module {
  z-index: 101;
  position: fixed;
  width: 100vw;
  height: auto;
  transform: translateY(0);
  transition: transform 0.5s;

  &.hidden {
    transform: translateY(-100%);

    .inner {
      background-color: transparent;
      transition: background-color 0s;
    }
  }

  .inner {
    height: 80vh;
  }

  .closeBtn {
    z-index: 101;

    p {
      font-family: $font-sud;
      text-decoration: underline;
      letter-spacing: 1.5px;
      font-size: 0.8rem;
      font-weight: 600;
      position: absolute;
      writing-mode: vertical-lr;
      top: 45px;
      right: 50px;
      cursor: pointer;
    }
  }

  table {
    height: 80vh !important;
    background-color: transparent;

    tbody {
      tr {
        &:first-child {
          vertical-align: bottom;
          height: 200px !important;

          h3 {
            font-weight: 400;
            width: 90%;
            border-bottom: 1px solid black;
            padding-bottom: 5px;
          }
        }

        &:nth-child(2) {
          vertical-align: top;
          height: 150px !important;

          h3 {
            font-size: 0.7rem;
            font-weight: 600;
            margin-bottom: 15px;
          }

          p {
            font-size: 1.2rem;
          }

          td {
            padding-bottom: 3vh;
          }
        }

        &:last-child {
          vertical-align: top;
          padding-bottom: 20px;

          p:first-child {
            width: 90%;
            margin-bottom: 0;
            padding-top: 20px;
            border-top: 1px solid black;
          }

          td {
            padding-bottom: 5vh;

            a {
              font-size: 0.9rem;
            }
          }
        }

        td {
          padding: 26px 6% 0 4%;

          &:first-child {
            background-color: rgba(197, 197, 197, 0.98);
          }

          &:nth-child(2) {
            background-color: rgba(247, 218, 112, 0.98);
          }

          &:last-child {
            background-color: rgba(246, 237, 218, 0.98);
          }
        }
      }
    }
  }
}

@include phone-portrait {
  .contact_module {
    z-index: 14;
    height: 100vh;
    overflow-y: scroll;
    background-color: $color-gray;

    .closeBtn {
      display: none;
      transform: translate(30px, -20px);
    }

    table {
      display: grid;
      grid-template-columns: 1fr;

      colgroup {
        col {
          width: 100% !important;
        }
      }

      tbody {
        display: contents;

        tr {
          display: contents;

          h3,
          p {
            width: 100% !important;
          }

          td {
            padding: 26px 6% 0 6%;

            &:first-child {
              background-color: $color-gray;
            }

            &:nth-child(2) {
              background-color: $color-accent1;
            }

            &:last-child {
              background-color: $color-accent2;
            }
          }

          &:first-child {
            td {
              &:first-child {
                padding-top: 175px;
                grid-row: 1;
                grid-column: 1;
              }

              &:nth-child(2) {
                grid-row: 4;
                grid-column: 1;
              }

              &:nth-child(3) {
                grid-row: 7;
                grid-column: 1;
              }
            }
          }

          &:nth-child(2) {
            td {
              &:nth-child(1) {
                grid-row: 2;
                grid-column: 1;
              }

              &:nth-child(2) {
                grid-row: 5;
                grid-column: 1;
              }

              &:nth-child(3) {
                grid-row: 8;
                grid-column: 1;
              }
            }
          }

          &:nth-child(3) {
            td {
              &:nth-child(1) {
                grid-row: 3;
                grid-column: 1;
              }

              &:nth-child(2) {
                grid-row: 6;
                grid-column: 1;
                padding-bottom: 0;
              }

              &:nth-child(3) {
                grid-row: 9;
                grid-column: 1;
              }
            }
          }
        }
      }
    }
  }

  // #contact {
  //   opacity: 1;
  //   transition: opacity 0.3s;
  //   pointer-events: all;
  // }

  .contactOpen {
    header {
      nav {
        ul {
          li {
            &:last-child {
              opacity: 0;
              pointer-events: none;
            }
          }
        }
      }
    }

    .closeBtn {
      display: block;
    }
  }
}