/* ************** HEADER ******************* */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  z-index: 104;
  pointer-events: none;

  .inner {
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;

    .logo {
      position: absolute;
      top: 35px;
      left: 4%;
      // width: 300px;
      // height: 300px;
      height: 83px;
      width: 210px;
      pointer-events: all;
      z-index: 104;

      img,
      svg {
        position: absolute;
        display: block;
        width: 100%;
        height: auto;
        overflow: visible;

        * {
          fill: #000;
        }
      }

      svg:first-child {
        display: none;
      }
    }

    .menuBtn {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 115px;
      height: 115px;
      cursor: pointer;
      z-index: 3;
      pointer-events: all;
      transition: opacity .3s;

      svg.arrow_down {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(30px, -30px);
        transition: transform .3s ease-out;

        * {
          fill: $color-accent3;
        }
      }

      svg.arrow_up {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        height: auto;
        transition: transform .3s ease-out;
        transform-origin: top right;

        * {
          fill: #000;
        }
      }

      &:hover {
        svg.arrow_down {
          transform: translate(10px, -10px);
        }

        svg.arrow_up {
          transform: scale(.9);
        }
      }

      /*

      div {
        width: 22px;
        height: 22px;
        position: relative;

        .line {
          height: 4px;
          width: 100%;
          display: block;
          position: absolute;
          right: 0;
          background-color: #000;
          opacity: 1;

          transform: rotate(0deg);

          transition-property: background-color, opacity, transform, top;
          transition-duration: 0.2s, 0.1s, 0.3s, 0.3s;
          transition-delay: 0s, 0s, 0s, 0s;

          &:nth-child(1) {
            top: 0px;
          }

          &:nth-child(2) {
            top: 10px;
          }

          &:nth-child(3) {
            top: 20px;
          }
        }
      }

      */
    }
  }

  nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba($color-accent3, 0.9);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 15;

      li {

        a {
          display: flex;
          transition: color 0.3s;
          text-decoration: none;
          color: #000;
          font-size: 4vw;
          font-family: $font-sud;
          font-weight: 400;
          letter-spacing: 12px;
          padding: 5px 0px;

          &.inactive {
            color: $color-accent4;
          }
        }

      }

    }

    .bottom_left {
      position: absolute;
      bottom: 20px;
      left: 40px;
      font-family: $font-primary;
      font-size: 1.1rem;
      font-weight: 400;

      a {
        text-decoration: none;
        color: #000;
        font-family: $font-primary-bold;
        font-weight: 400;
        transition: color .2s;

        &:hover {
          color: $color-accent4;
        }
      }
    }

    .bottom_right {
      position: absolute;
      bottom: 20px;
      right: 60px;
      font-family: $font-primary;
      font-size: 1.1rem;
      font-weight: 400;

      a {
        text-decoration: none;
        color: #000;
        font-family: $font-primary-bold;
        font-weight: 400;
        transition: color .2s;

        &:hover {
          color: $color-accent4;
        }
      }
    }
  }

}


@include phone-portrait {
  header {
    .inner {
      .logo {
        left: 5%;
        width: 175px;
        top: 25px;
      }

      .menuBtn {
        width: 80px;
        height: 80px;

        svg.arrow_down {
          transform: translate(15px, -15px);
        }

        &:hover {
          svg.arrow_down {
            transform: translate(15px, -15px);
          }
        }

      }
    }

    nav {
      background-color: rgba($color-accent3, 0.95);

      ul {
        li {
          a {
            font-size: 6vw;
          }
        }
      }

      .bottom_left {
        left: 5%;
      }

      .bottom_right {
        right: 5%;
      }

    }
  }
}

/* MENU ON */

.lightboxOpen {
  header {
    .inner {
      .menuBtn {
        opacity: 0;
        pointer-events: none;
      }

      .logo {
        pointer-events: none;
      }
    }

    /*

    nav {
      ul {
        opacity: 0;
        pointer-events: none;

        #contact {
          opacity: 0;
          pointer-events: none;
        }
      }
    }

    */
  }
}

.menuOn {
  header {
    .inner {

      .menuBtn {
        svg.arrow_down {
          display: none;
        }

        svg.arrow_up {
          display: block;
        }
      }

      /*
      .menuBtn .line {
        background-color: rgba(0, 0, 0, 1) !important;

        transition-property: background-color, opacity, transform, top;
        transition-duration: 0.2s, 0.1s, 0.3s, 0.3s;
        transition-delay: 0s, 0s, 0s, 0s;

        &:nth-child(1) {
          top: 8px;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
          transition: opacity 0.1s 0s;
        }

        &:nth-child(3) {
          top: 8px;
          transform: rotate(135deg);
        }
      }

      */
    }

    nav {
      opacity: 1;
      pointer-events: all;
    }
  }
}

/* CONTACT MODULE */

.contact_cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  pointer-events: none;
  z-index: 100;
}

.contactOpen {
  header {
    nav {
      opacity: 0;
      pointer-events: none;

      ul {
        pointer-events: none;
      }
    }
  }

  .contact_cover {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.3s;
  }
}

@include phone-portrait {
  .contact_cover {
    display: none;
  }
}

.bio_module {
  z-index: 101;
  position: fixed;
  width: 100vw;
  height: auto;
  overflow-y: scroll;
  transform: translateY(0);
  //transition: transform 1s cubic-bezier(0.34, 1.56, 0.64, 1);
  transition: transform .75s cubic-bezier(0.9, 0.49, 0.35, 1.2);

  &.hidden {
    transform: translateY(-100%);

    .inner {
      background-color: transparent;
      transition: background-color 0s;
    }
  }

  &.scroll {
    height: 100vh;
  }

  .col_wrap {
    padding-top: 140px !important;
    padding-bottom: 0px !important;
    height: auto;
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 80px);
    margin: 0 auto 20px auto;

    .bottom_left {
      font-family: $font-primary;
      font-size: 1.1rem;
      font-weight: 400;
      z-index: 4;

      a {
        text-decoration: none;
        color: #000;
        font-family: $font-primary-bold;
        font-weight: 400;
        transition: opacity .2s;

        &:hover {
          opacity: .5;
        }
      }
    }

    .bottom_right {
      font-family: $font-primary;
      font-size: 1.1rem;
      font-weight: 400;
      z-index: 4;

      a {
        text-decoration: none;
        color: #000;
        font-family: $font-primary-bold;
        font-weight: 400;
        transition: color .2s;

        &:hover {
          color: $color-accent4;
        }
      }
    }

  }

}

.contact_module {
  z-index: 101;
  position: fixed;
  width: 100vw;
  height: 100vh;
  transform: translateY(0);
  //transition: transform 1s cubic-bezier(0.34, 1.56, 0.64, 1);
  transition: transform .75s cubic-bezier(0.9, 0.49, 0.35, 1.2);

  .bottom {
    display: none;
  }

  .bottom_left {
    position: absolute;
    bottom: 20px;
    left: 40px;
    font-family: $font-primary;
    font-size: 1.1rem;
    font-weight: 400;
    z-index: 4;

    a {
      text-decoration: none;
      color: #000;
      font-family: $font-primary-bold;
      font-weight: 400;
      transition: opacity .2s;

      &:hover {
        opacity: .5;
      }
    }
  }

  .bottom_right {
    position: absolute;
    bottom: 20px;
    right: 60px;
    font-family: $font-primary;
    font-size: 1.1rem;
    font-weight: 400;
    z-index: 4;

    a {
      text-decoration: none;
      color: #000;
      font-family: $font-primary-bold;
      font-weight: 400;
      transition: color .2s;

      &:hover {
        color: $color-accent4;
      }
    }
  }

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;

    .block {
      position: absolute;
      width: 33.33%;
      top: 0;
      height: 100%;

      &:first-child {
        background-color: rgba(197, 197, 197, 0.98);
        left: 0;
      }

      &:nth-child(2) {
        background-color: rgba(247, 218, 112, 0.98);
        left: 33.33%;
      }

      &:last-child {
        background-color: rgba(246, 237, 218, 0.98);
        left: 66.66%;
      }
    }


  }

  a {
    text-decoration: none;
    opacity: 1;
    transition: opacity .2s;

    &:hover {
      opacity: .5;
    }
  }

  &.hidden {
    transform: translateY(-100%);

    .inner {
      background-color: transparent;
      transition: background-color 0s;
    }
  }

  .inner {
    height: 100%;
    position: relative;
    z-index: 2;
  }

  .closeBtn {
    z-index: 101;

    p {
      font-family: $font-sud;
      text-decoration: underline;
      letter-spacing: 1.5px;
      font-size: 0.8rem;
      font-weight: 600;
      position: absolute;
      writing-mode: vertical-lr;
      top: 45px;
      right: 50px;
      cursor: pointer;
    }
  }

  table {
    background-color: transparent;

    tbody {
      tr {

        &:first-child {
          td {
            padding-top: 200px;
          }
        }

        td {
          padding: 26px 6% 0 4%;

          h2 {
            font-weight: 400;
            width: 90%;
            border-bottom: 1px solid black;
            padding-bottom: 5px;
            font-family: $font-sud;
            font-size: 1.8rem;
            margin-bottom: 20px;
          }

          h3 {
            font-weight: 600;
            display: inline-block;
            border-bottom: 1px solid black;
            padding-bottom: 0px;
            font-size: .7rem;
            margin-bottom: 6px;
          }

          p {
            line-height: 1.7;
          }
        }
      }
    }
  }
}

@include phone-portrait {

  .bio_module {
    transition: transform 1.5s cubic-bezier(0.9, 0.49, 0.35, 1.2);

    .bottom {
      width: 90%;
      margin: 0 auto 100px auto;
    }
  }

  .contact_module {
    z-index: 14;
    height: 100vh;
    overflow-y: scroll;
    background-color: $color-gray;

    .bottom_left.desktop,
    .bottom_right.desktop {
      display: none;
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;
      background-color: #f6edda;
      padding: 0 0 100px 0;

      .bottom_left {
        position: relative;
        left: unset;
        bottom: unset;
        display: block;
        margin-left: 5%;
      }

      .bottom_right {
        position: relative;
        right: unset;
        bottom: unset;
        display: block;
        margin-right: 5%;
      }

    }

    .background {
      display: none;
    }

    .closeBtn {
      display: none;
      transform: translate(30px, -20px);
    }

    table {
      display: grid;
      grid-template-columns: 1fr;
      height: auto !important;


      colgroup {
        col {
          width: 100% !important;
        }
      }

      tbody {
        display: contents;

        tr {
          display: contents;

          &:first-child {
            td {
              padding-top: 50px;
            }
          }

          h3,
          p {
            width: 100% !important;
          }

          td {
            padding: 26px 6% 0 6%;

            h2 {
              margin-bottom: 0;
            }

            &:first-child {
              background-color: $color-gray;
            }

            &:nth-child(2) {
              background-color: $color-accent1;
            }

            &:last-child {
              background-color: $color-accent2;
            }
          }

          &:first-child {
            td {
              &:first-child {
                padding-top: 175px;
                grid-row: 1;
                grid-column: 1;
              }

              &:nth-child(2) {
                grid-row: 4;
                grid-column: 1;
              }

              &:nth-child(3) {
                grid-row: 7;
                grid-column: 1;
              }
            }
          }

          &:nth-child(2) {
            td {
              &:nth-child(1) {
                grid-row: 2;
                grid-column: 1;
                padding-bottom: 50px;
              }

              &:nth-child(2) {
                grid-row: 5;
                grid-column: 1;
                padding-bottom: 50px;
              }

              &:nth-child(3) {
                grid-row: 8;
                grid-column: 1;
                padding-bottom: 50px;
              }
            }
          }

          &:nth-child(3) {
            td {
              &:nth-child(1) {
                grid-row: 3;
                grid-column: 1;
              }

              &:nth-child(2) {
                grid-row: 6;
                grid-column: 1;
                padding-bottom: 0;
              }

              &:nth-child(3) {
                grid-row: 9;
                grid-column: 1;
              }
            }
          }
        }
      }
    }
  }

  // #contact {
  //   opacity: 1;
  //   transition: opacity 0.3s;
  //   pointer-events: all;
  // }

  .contactOpen {
    header {
      nav {
        ul {
          li {
            &:last-child {
              opacity: 0;
              pointer-events: none;
            }
          }
        }
      }
    }

    .closeBtn {
      display: block;
    }
  }
}