/* BEGIN NON-GRID LAYOUTS */

.two_column {
  .col_wrap {
    display: flex;
    padding: 4.5% 10%;
    .col {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-right: 75px;
      h3 {
        width: 100%;
        border-bottom: 1px solid black;
        padding-bottom: 5px;
        font-weight: 500;
      }

      &:last-child {
        margin-right: 0;
      }
      table {
        box-sizing: content-box;
        .colgroup {
        }
        tbody {
          tr {
            td {
              vertical-align: top;
              padding-bottom: 12px;
              &:first-child {
                font-style: italic;
                font-size: 0.7rem;
              }
            }
          }
        }
      }
      &:last-child {
        table {
          tbody {
            tr {
              td {
                font-size: 1.15rem;
                &:first-child {
                  font-style: normal;
                  font-size: 1.15rem;
                }
                ul {
                  list-style-type: none;
                  li {
                    padding-bottom: 7px;
                    font-family: "SentinelMedium";
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include phone-portrait {
  .two_column {
    margin-top: 25px;
    .col_wrap {
      flex-direction: column;
      width: 100%;
      padding: 4.5% 5%;
      .col {
        margin: 0;
        width: 100%;

        table {
          tbody {
            tr {
              td {
                padding-bottom: 2px;
                &:first-child {
                  font-size: 0.9rem;
                  width: 20%;
                }
                &:last-child {
                  width: 80%;
                  padding-left: 5%;
                  line-height: 1.5;
                }
              }
            }
          }
        }
        &:last-child {
          padding-top: 50px;
        }
      }
    }
  }
}

.centered {
  width: 84%;
  margin: 0px auto;
  .cell {
    position: relative;
    width: 100%;
    margin: 0px auto 30px auto;
    img,
    video {
      display: block;
      width: 100%;
      position: relative;
    }
    .info {
      margin: 10px 0 0 0;
      h2 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
      }
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

/* BEGIN GRID LAYOUTS */

.grid.loose {
  position: relative;
  width: 88%;
  margin: 0 auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 12px;
  align-items: flex-start;
  .cell {
    grid-column: span 3;
  }
}

@include phone-portrait {
  .grid.loose {
    grid-template-columns: repeat(6, 1fr);
    .cell {
      grid-column: var(--cat-col-start) / var(--cat-col-end) !important;
      margin-top: var(--cat-top-margin) !important;
      // margin-left: var(--cat-left-margin);
    }
  }
}

.filter {
  ul {
    display: flex;
    list-style-type: none;
    width: 92%;
    margin: 65px auto 0 auto;
    li {
      margin-right: 15px;
      a {
        text-decoration: none;
      }
      &.pageOn,
      &:hover {
        a {
          text-decoration: underline;
        }
      }
    }
  }
}

@include phone-portrait {
  .filter {
    ul {
      border-top: 1px solid black;
      margin-top: 0;
      padding-top: 20px;
    }
  }
}

.grid.flex {
  height: fit-content;
  width: 92%;
  margin: 20px auto;
  border-top: 1px solid black;
  p {
    padding-top: 10px;
    font-size: 0.9rem;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    .cell {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 25px;
      margin-bottom: 20px;
      transition: 0.3s;
      &.hide {
        display: none;
      }
      &.selected {
        img {
          opacity: 0.5;
        }
      }
      .media_wrap {
        height: 225px;
        img {
          object-fit: contain;
          height: 100%;
          width: auto;
        }
      }
    }
  }
  &.archive {
    padding-top: 75px;
    .row {
      flex-wrap: wrap;
      border-bottom: none;
      .cell {
        margin-bottom: 40px;
        margin-right: 40px;
      }
    }
  }
}

@include phone-portrait {
  .grid.flex {
    .row {
      flex-wrap: nowrap;
      overflow-x: scroll;
      .cell {
        margin: 0 6px;
        .media_wrap {
          height: 200px;
        }
      }
    }
    &.archive {
      border-top: none;
      padding-top: 0px;
      .row {
        .cell {
          margin: 7.5px 15px 7.5px 0;
          .media_wrap {
            height: 155px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.justified {
  width: 84%;
  margin: 0px auto;
}

.croppedgrid {
  width: 84%;
  list-style-type: none;
  margin: 0px auto;
  display: flex;
  flex-flow: row wrap;
  .cell {
    flex: 0 1 auto;
    width: 20%;
    margin: 0px 2.5% 5% 2.5%;
    overflow: hidden;
    position: relative;
    opacity: 1;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.7;
    }
    .info {
      margin: 10px 0 0 0;
      h2 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}

.ar-rows {
  position: relative;
  width: 90%;
  margin: 0px auto;
  .row {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-between;
    .cell {
      float: left;
      opacity: 1;
      position: relative;
      overflow: hidden;
      border: 0px solid #fff;
      box-sizing: border-box;

      img.photo {
        position: relative;
        z-index: 1;
        display: block;
        width: auto;
        height: auto;
      }
    }
  }
}

.masongrid {
  width: 84%;
  list-style-type: none;
  margin: 0px auto;

  .grid-sizer,
  .cell {
    width: 47%;
    height: auto;
  }

  .gutter-sizer {
    width: 6%;
  }

  .cell {
    display: block;
    float: left;
    overflow: hidden;
    text-align: left;

    .mediawrap {
      position: relative;
      width: 100%;
      height: 0;
      overflow: hidden;
      img.photo,
      video {
        @include absolute-cover;
      }
    }

    &.large {
      width: 100%;
    }

    a,
    img {
      outline: none;
      border: none;
      width: 100%;
      display: block;
      text-decoration: none;
    }
  }

  &.effect-2 {
    .cell {
      opacity: 0;
      &.shown {
        opacity: 1;
      }
    }
  }
}

.masongrid .shown .cell,
.no-js .masongrid figure.cell,
.no-cssanimations .masongrid figure.cell {
  opacity: 1;
}

/* Effect 1: opacity */

.masongrid.effect-1 figure.animate {
  animation: fadeIn 0.65s ease forwards;
  -webkit-animation: fadeIn 0.65s ease forwards;
  -moz-animation: fadeIn 0.65s ease forwards;
  -o-animation: fadeIn 0.65s ease forwards;
}

/* Effect 2: Move Up */
.masongrid.effect-2 figure.animate {
  opacity: 1;
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-animation: moveUp 0.65s ease forwards;
  animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
  0% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
  }
  100% {
    opacity: 1;
  }
}

/* BEGIN SLIDESHOW LAYOUTS */
// .slideshow_wrapper {
//   width: 100%;
//   display: flex;
//   display: none;
//   .slideshow {
//     position: relative;
//     top: auto;
//     width: 100%;
//     height: 600px;
//     text-align: center;
//     overflow: hidden;
//     display: flex;
//     flex-wrap: none;
//     flex-direction: row;
//     display: none;
//     .cell {
//       width: 100%;
//       height: 100%;
//       position: absolute;
//     }
//     .flickity-viewport {
//       width: 100%;
//     }
//     .ui {
//       width: 18px;
//       position: absolute;
//       z-index: 20;
//       top: 50%;
//       -ms-transform: translateY(-50%);
//       transform: translateY(-50%);
//       cursor: pointer;
//     }

//     .ui.prev {
//       left: 0px;
//       padding: 23px;
//     }

//     .ui.next {
//       right: 0;
//       padding: 23px;
//     }

//     .ui.close {
//       width: 20px;
//       height: 20px;
//       padding: 20px 22px;
//       top: 0;
//       left: 0;
//       -ms-transform: none;
//       transform: none;
//     }

//     .ui line {
//       stroke: #000000;
//       stroke-width: 4;
//     }

//     &.fullbleed {
//       h1 {
//         @include absolute-vertical;
//         z-index: 10;
//         color: #000;
//       }
//     }
//     .flickity-page-dots {
//       display: none;
//     }
//     &.center {
//       figure {
//         &:before {
//           @include inline-vertical-before;
//         }

//         img.photo {
//           display: inline-block;
//           vertical-align: middle;
//           max-width: 100%;
//           max-height: 100%;
//           width: auto;
//           height: auto;
//         }
//       }
//     }
//   }
// }

.slick-dots {
  bottom: 8%;
  width: 100%;
  background-color: inherit;

  li {
    width: 12px;
    height: 12px;
    margin: 0 3px;
    position: relative;
    top: 10px;

    button {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 1px solid black;
    }

    &.slick-active {
      button {
        background: black;
      }
    }
  }
}
