/* ************** OVERLAYS ******************* */

#lightbox {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  z-index: -1;
  transform: translateX(-100%);

  transition: z-index 0s 0.4s, transform 0s 0.4s, opacity 0.3s 0s;

  &.on {
    opacity: 1;
    z-index: 103;
    transform: translateX(0%);

    transition: z-index 0s 0s, transform 0s 0s, opacity 0.3s 0s;
  }

  .closer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: none;
    pointer-events: none;

    .closeIcon {
      position: absolute;
      top: 45px;
      right: 4%;
      z-index: 104;
      height: 50px;
      cursor: pointer;
      transform: scale(1);
      transition: transform 0.2s;

      pointer-events: all;

      p {
        pointer-events: none;
        font-family: $font-sud;
        text-decoration: underline;
        letter-spacing: 1.75px;
        font-size: 0.8rem;
        font-weight: 600;

        // writing-mode: vertical-lr;
        cursor: pointer;
      }
    }
  }

  .inner {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 80%;

    .wrap {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      .slideshow {
        width: 100%;

        .arrow,
        .close {
          position: fixed;
          z-index: 10;
          pointer-events: none;
          width: 46px;
          height: auto;
          display: none;
          transition: transform 0.2s;
        }

        .close {
          width: 30px;
        }

        .cell {
          height: 80vh;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          video,
          img {
            display: block;
            width: auto;
            height: auto;
            max-width: 80%;
            max-height: 100%;
            margin: 0px auto;
          }

			.info {
				position: absolute;
				top: 50%;
				left: 5%;
				transform: translateY(-50%);
				text-align: left;

				h2 {
				font-family: $font-primary-bold;
				font-weight: 400;
				font-size: 1rem;
				margin-bottom: 0;
				}

				p {
				margin: 0;
				padding: 0;
				}
			}

        }
      }
    }
  }

  .buttons {
    display: none;
  }
}

#overlay {
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: transparent;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  opacity: 0;
  z-index: -1;
  transform: translateX(-100%);
  overflow: clip;

  transition: z-index 0s 0.4s, transform 0s 0.4s, opacity 0.3s 0s;

  &.on {
    display: block;
    opacity: 1;
    z-index: 300;
    transform: translateX(0%);

    transition: z-index 0s 0s, transform 0s 0s, opacity 0.3s 0s;
  }

  .closer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;

    .closeIcon {
      // position: absolute;
      width: 22px;
      height: 22px;
      top: 25px;
      right: 25px;
      z-index: 11;
      cursor: pointer;
      transform: scale(1);
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
      }

      .line {
        display: block;
        width: 100%;
        height: 1px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);

        &:last-child {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }

  .inner {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;

    .wrap {
      position: relative;
      width: 100%;
      height: fit-content;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 0px;

      .arrow,
      .close {
        position: fixed;
        z-index: 10;
        pointer-events: none;
        width: 46px;
        height: auto;
        display: none;
        transition: transform 0.2s;
      }

      .close {
        width: 30px;
      }

      img {
        height: 70vh;
        width: auto;
      }

      .info {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-align: left;

        h2 {
          font-family: $font-primary-bold;
          font-weight: 400;
          font-size: 1rem;
          margin-bottom: 0;
        }

        p {
          margin: 0;
          padding: 0;
        }
      }

      .slideshow {
        transition: none;
        position: relative;
        // cursor: pointer;
        width: 100%;

        .flickity-viewport {
          min-height: 550px !important;
          height: 78vh !important;
          position: relative;

          .flickity-slider {
            height: 100%;
          }

          .cell {
            position: absolute;
            width: 100%;
            height: 100%;

            img {
              position: relative;
              width: 100%;
              height: 100%;
              object-fit: contain;
              z-index: 301;
            }
          }
        }

        .flickity-page-dots {
          display: none;
        }

        button {
          z-index: 0;
          cursor: pointer;
          background-color: transparent;
          position: absolute;
          top: 0;
          height: 100%;
          width: 50%;

          svg {
            display: none;
          }

          &.previous {
            left: 0;
          }

          &.next {
            right: 0;
          }
        }
      }
    }
  }
}

.workpage {
  #overlay {
    .title {
      display: none;
    }
  }
}

.archive {
  #overlay {
    margin: -10px 0 30px 0;

    .title {
      padding-top: 0;
    }

    .number {
      display: none;
    }
  }
}

@include phone-portrait {
  #lightbox {
    .closer {
      .closeIcon {
        top: 30px;
        right: 5%;
      }
    }

    .inner {
      width: 90%;

	  .wrap {
		.slideshow {
			.cell {
				flex-direction: column;
				.info {
					position: relative;
					left: auto;
					top: auto;
					transform: unset;
					text-align: center;
					width: 80%;
					margin: 10px auto 0 auto;
				}
			}
		}

	  }
    }

    .buttons {
      display: flex;
      position: absolute;
      width: 94%;
      margin: 0 auto;
      justify-content: space-between;
      bottom: 10px;

      svg {
        padding: 10px;
        width: 45px;
        height: auto;
        pointer-events: all;
        z-index: 2;

        &.prev {
          transform: rotate(180deg);
        }

        * {
          pointer-events: none;
        }
      }
    }
  }

  #overlay {
    .inner {
      .wrap {
        flex-direction: column;
        padding-bottom: 10px;

        .info {
          position: relative;
          left: auto;
          top: auto;
          transform: unset;
          text-align: center;
          width: 80%;
          margin: 10px auto 0 auto;
        }

        img {
          max-height: 70vh;
          height: auto;
          width: 100%;
          object-fit: contain;
        }

        .arrow,
        .close {
          display: none;
        }

        .slideshow {
          .flickity-viewport {
            min-height: 300px !important;
            height: 45vh !important;
          }

          button {
            bottom: -40px;
            top: unset;
            height: 20px;
            width: 20px;

            svg {
              display: block;
              height: 15px;
            }
          }
        }
      }
    }
  }

  .archive {
    #overlay {
      margin: 20px 0 10px;
    }
  }
}