/* ************** LIGHTBOX ADD/REMOVE ICON ***************** */
/* *** HTML markup currently only lives in slideshow.php *** */

.lb-add-remove {
}

.lb-add-remove .icon {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  position: relative;
}

.lb-add-remove .icon:before {
  content: "";
  width: 13px;
  height: 3px;
  position: absolute;
  top: 5px;
  left: 0;
  background-color: #fff;
}

.lb-add-remove .icon:after {
  content: "";
  width: 3px;
  height: 13px;
  position: absolute;
  top: 0;
  left: 5px;
  background-color: #fff;
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  opacity: 1;
  transition: transform 0.2s 0s, opacity 0.2s 0s;
}

.lb-add-remove.added .icon:after {
  transform: rotate(90deg);
  opacity: 0;
  transition: transform 0.2s 0s, opacity 0.2s 0s;
}

.lb-add-remove .words {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  line-height: 1;
  margin-left: 5px;
  font-size: 1.14rem;
}

.lb-add-remove span:first-child {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.2s 0.2s;
}

.lb-add-remove span:last-child {
  position: relative;
  opacity: 0;
  transition: opacity 0.2s 0s;
}

.lb-add-remove.added span:first-child {
  opacity: 0;
  transition: opacity 0.2s 0s;
}

.lb-add-remove.added span:last-child {
  opacity: 1;
  transition: opacity 0.2s 0.2s;
}
